config/tmp/
data/output/
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
*.log
*.sqlite3
*.egg-info/
*.swp
*.swo
*.bak
*.DS_Store
*.idea/
*.vscode/
*.coverage
*.env
*.local
*.lock
composegen/data/
